.App {
    font-family: sans-serif;
    text-align: center;
}

.container {
    width: fit-content;
    padding: 10px;
    border: 2px solid rgb(79, 197, 197);
    background-color: rgb(22, 82, 117);
    border-style: double;
    border-radius: 20px;
    text-align: center;
}

.inputData {
    font-size: 1rem;
    margin: 0px 20px 0px 20px;
    box-sizing: border-box;
}

.container input {
    padding: 0;
    width: 100px;
    text-align: center;
    background-color: rgb(18, 141, 150);
    color: rgb(219, 224, 228);
    font-size: 1.2rem;
    margin-right: 10px;
    height: 40px;
}
.container .curFrom {
    background-color: rgb(18, 141, 150);
    color: rgb(219, 224, 228);
    font-size: 1.2rem;
    margin-right: 10px;
    height: 40px;
}
.container .curTo {
    background-color: rgb(18, 141, 150);
    color: rgb(219, 224, 228);
    font-size: 1.2rem;
    height: 40px;
}

.container .to {
    color: rgb(219, 224, 228);
    font-size: 1.2rem;
    margin-right: 10px;
    height: 40px;
    box-sizing: border-box;
}
.container p {
    color: rgb(219, 224, 228);
    font-size: 2rem;
    font-weight: bold;
}
